{% extends "./base.html" %} {% block content %}

  <div style="height:50"></div>

  <div class="card-deck">
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1518527989017-5baca7a58d3c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=667&q=80"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Acontece Agora</h5>
        <p class="card-text">
          Saiba o que está acontecendo no mundo da logística e planeja suas
          operações e serviços com dados e inteligência.
        </p>
      </div>
      <div class="card-footer">
        <a href="now" class="btn btn-primary">Saber</a>
      </div>
    </div>
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1511578194003-00c80e42dc9b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">API</h5>
        <p class="card-text">
          Tenha acesso a infinidade de dados disponíveis pela API da nossa
          plataforma nos mais diversos formatos para sua necessidade.
        </p>
      </div>
      <div class="card-footer">
        <a href="api" class="btn btn-warning">Acessar</a>
      </div>
    </div>
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Marketplace</h5>
        <p class="card-text">
          Conheça todas as soluções que nós e nossos parceiros desenvolveram com
          os dados providos pela plataforma. Alugue, compre ou venda.
        </p>
      </div>
      <div class="card-footer">
        <a href="market" class="btn btn-success">Comprar</a>
      </div>
    </div>
    <div class="card">
      <img
        src="https://images.unsplash.com/photo-1551288049-bebda4e38f71?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Comunidade</h5>
        <p class="card-text">
          Participe da nossa rede de parceiros, desenvolvedores, prestadores de serviço e provedores de dados. Projetos, capacitação e eventos.
        </p>
      </div>
      <div class="card-footer">
        <a href="#" class="btn btn-info">Participar</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}
